.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1 1 200px;
  padding: 120px;
  min-height: 100vh;
}

.sidebar {
  flex: 1 1 auto;
  border-top: solid #e5e5e5 1px;
  padding: 60px;
}

@media screen and (min-width: 1400px) {
  .app {
    flex-direction: row;
  }

  .main {
    min-height: auto;
  }

  .sidebar {
    flex: 0 0 500px;
    border-top: 0;
    border-left: solid #e5e5e5 1px;
  }
}