* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  transition: all 0.3s ease-out;
}

html, body {
  height: 100%;
}

.visuallyHidden { 
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); 
  clip: rect(1px, 1px, 1px, 1px);
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1 1 200px;
  padding: 120px;
  min-height: 100vh;
}

.sidebar {
  flex: 1 1 auto;
  border-top: solid #e5e5e5 1px;
  padding: 60px;
}

.funnel {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  overflow: hidden;
}

.emptyState {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
}

.emptyState__icon {
  font-size: 2em;
  margin-bottom: 1em;
}

.emptyState__content {
  opacity: 0.5;
}

.step {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1 1 auto;
  position: relative;
  margin-right: 1px;
}

.stepLabel {
  color: #333;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-right: 10px;
}

.stepBar {
  background-color: #aaa;
  content: "";
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 13px;
}

.settings .title {
  margin-bottom: 2em;
}

.settings .subtitle {
  margin-bottom: 1em;
  font-size: 16px;
}

.settings .subtitle:not(:first-of-type) {
  margin-top: 2em;
}

.settingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid #e5e5e5 1px;
  padding: 10px 0;
  position: relative;
  transition: all 0.3s ease-out;
}

.settingWrapper:hover {
  padding-left: 5px;
}

.settingWrapper input[type="text"],
.settingWrapper input[type="number"] {
  font-size: 16px;
  border: 0;
  padding: 5px 0px;
  border-radius: 2px;
  transition: all 0.3s ease-out;
  outline: none;
  cursor: pointer;
}

.settingWrapper input[type="text"] {
  flex: 1 1 auto;
  margin-right: 20px;
}

.settingWrapper input[type="text"]:focus {
  padding-left: 5px;
}

.settingWrapper input[type="number"]:focus {
  padding-right: 5px;
}

.settingWrapper input[type="number"] {
  text-align: right;
  flex: 0 0 50px;
}

.settingWrapper button {
  font-size: 16px;
  background-color: #fff;
  border: 0;
  padding: 5px;
  width: 30px;
  cursor: pointer;
  color: #D0021B;
  opacity: 0;
  transition: all 0.3s ease-out;
  position: absolute;
  top: 10px;
  right: -40px;
}

.settingWrapper button:focus {
  outline: none;
  opacity: 1.0;
  transform: scale(1.5, 1.5)
}

.settingWrapper:hover button {
  opacity: 1.0;
}

.settingWrapper button:hover {
  transform: scale(1.5, 1.5)
}

.settingWrapper input[type="color"] {
  width: 25px;
}

.btn-add {
  border: 0;
  border-top: solid #e5e5e5 1px;
  font-size: 16px;
  padding: 20px 0px;
  background-color: #fff;
  width: 100%;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
}

.btn-add:hover {
  color: #333;
  padding-left: 5px;
}

@media screen and (min-width: 1400px) {
  .app {
    flex-direction: row;
  }

  .sidebar {
    flex: 0 0 500px;
    border-top: 0;
    border-left: solid #e5e5e5 1px;
  }

  .funnel {
    height: 100%;
  }
  
  .main {
    min-height: auto;
  }
}