.step {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1 1 auto;
  position: relative;
  margin-right: 1px;
}

.stepLabel {
  color: #333;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-right: 10px;
}

.stepBar {
  background-color: #aaa;
  content: "";
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 13px;
}